.header {
  background: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  justify-content: center;
  align-content: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 6vh;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: Arial, Helvetica;
  margin: -0.3ch;
  letter-spacing: 0.02em;
  font-weight: 400;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
}
.title {
  text-align: left;
  font-size: 5vh;
  margin-left: 5vh;
}
.youtube {
  text-align: left;
  font-size: 5vh;
  text-decoration: underline;
  margin-left: 5vw;
}
.anki {
  position: relative;
  display: block;
  margin: auto;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
}
.download {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vh;
}
.daily {
  text-align: center;
  font-family: Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 6vh;
  margin-left: 5vh;
}
